.homepage-body {
    padding-left: 102px;
    padding-right: 102px;
}
.homepage-body-section1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-body-section1-text-wrapper {
    max-width: 389px;
}
.homepage-body-section1-text-title {
    font-family: "Lato";
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
    font-weight: 400;
}

.homepage-body-section1-text-title-span {
    color: #6119BE;
    font-size: 32px;
    line-height: 38.4px;   
}

.homepage-body-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 62px;
}

.homepage-body-section2-text-title {
    font-family: "Lato";
    font-size: 36px;
    line-height: 43.2px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0px;
}

.homepage-body-section2-image {
    width: 739px;
    height: 33px;
    margin-top: 10px;
}

.homepage-body-section2-assets-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.homepage-body-section2-asset {
    width: 323px;
    height: 397.54px;
}

.homepage-body-section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 358.46px
}
.homepage-body-section3-image-wrapper {
    display: flex;
    gap: 26.27px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.homepage-body-section3-asset {
    width: 365px;
    height: 402.4px;
}
.homepage-body-section3-button-wrapper {
    display: flex;
    gap: 13px;
    margin-top: 48px;
}
.homepage-body-section3-button {
    all: unset;
    padding: 15px;
    border-radius: 10px;
    background-color: #6119BE;
    font-family: "Lato";
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 700;   
    color: #F2F2F2;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.25s ease;
    white-space: nowrap;
}
.homepage-body-section3-button:hover {
    background-color: transparent;
    border: 1px solid #6119BE;
    color: #6119BE;
}
.homepage-body-section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 93px;
}
.homepage-body-section4-text-wrapper {
    max-width: 389px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.homepage-body-section4-text-title {
    font-family: "Lato";
    font-size: 36px;
    line-height: 43.2px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0px;
}
.homepage-body-section4-image {
    width: 739px;
    height: 33px;
    margin-top: 10px;
}
.homepage-body-section4-assets-container {
    display: flex;
    gap: 15.25px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.homepage-body-section4-asset-wrapper {
}
.homepage-body-section4-asset {
    width: 394px;
    height: 588px;
}
.homepage-body-section4-asset-title {
    margin: 0px;
    font-weight: 600;
    font-size: 22.02px;
    line-height: 26.43px;
    font-family: "Lato";
    color: #FFFFFF;
    margin-top: 12.7px;
}
.homepage-body-section5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 303.45px;
    flex-wrap: wrap;
    gap: 157px;
}
.homepage-body-section5-left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 31px;   
}
.homepage-body-section5-left-text1 {
    margin: 0px;
    font-family: "Lato";
    font-size: 64px;
    line-height: 76.8px;
    color: #F6F2FF;
    font-weight: 700;
    text-align: center;
}
.homepage-body-section5-left-text2 {
    margin: 0px;
    font-family: "Lato";
    font-size: 32px;
    line-height: 38.4px;
    text-align: center;
    color: #2F489E;
    font-weight: 600
}
.homepage-body-section5-right-container {
    width: 593px;
}
.homepage-body-section5-right-text {
    width: 100%;
    font-family: "Lato";
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 400;
    color: #D1D1D1;
    text-align: center;
}
.reviews-container {
    margin-top: 284px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviews-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reviews-text1 {
    margin: 0px;
    font-family: "Lato";
    font-size: 36px;
    line-height: 43.2px;
    text-align: center;
}
.reviews-image1 {
    width: 739px;
    height: 33px;
    margin-top: 10px;
}
.reviews-card-wrapper {
    margin-top: 49px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    row-gap: 31px;
}
.review-card {
    background-color: #C6B1FF;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    padding: 29px 32px;
    border-radius: 20px;
    height: 374px;
}
.review-card-icon {
    height: 59px;
}
.review-card-content {
    font-family: Outfit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    color: #000000;
    max-width: 353px;
}
.review-card-section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 96px;
}
.review-card-section2-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.review-card-section2-left-image {
    height: 70px;
}
.review-card-section2-left-text1 {
    font-family: Outfit;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 20.16px;
    color: #000000;
}
.review-card-section2-left-text2 {
    font-family: Outfit;
    font-size: 16px;
    line-height: 20.16px;
    color: #4F4F4F;
    margin: 0;
}
.review-card-section2-right-image {
    height: 24px;
}

/**! IPAD AIR, MINI AND SMALL TABS DO NOT TOUCH */
@media screen and (min-width: 768px) and (max-width: 932px) {
    .homepage-body-section2-assets-wrapper {
        gap: 70px;
    }
    .homepage-body-section5 {
        gap: 50px;
    }
    .homepage-body-section5-left-container {
        gap: 10px;
    }
    .homepage-body-section5-left-text1 {
        font-size: 40px;
        line-height: 48px;
    }
    .homepage-body-section5-left-text2 {
        font-size: 24px;
        line-height: 28.8px;
    }
    .homepage-body-section5-right-text {
        font-size: 24px;
        line-height: 28.8px;
    }
  }

  /**! MOBILE PHONE SCREENS DO NOT TOUCH */
@media screen and (max-width: 767px) {
    .homepage-body-section2-assets-wrapper {
        gap: 70px;
    }
    .homepage-body {
        padding-left: 20px;
        padding-right: 20px;
    }
    .homepage-body-section3-asset {
        width: 323px;
        height: 397.54px;
    }
    .homepage-body-section3-button {
        font-size: 14px;
        padding: 15px 10px;
    }
    .homepage-body-section4-asset {
        width: 323px;
        height: 397.54px;
    }
    .homepage-body-section5 {
        gap: 20px;
        margin-top: 150px;
    }
    .homepage-body-section5-left-container {
        gap: 10px;
    }
    .homepage-body-section5-left-text1 {
        font-size: 40px;
        line-height: 48px;
        white-space: nowrap;
    }
    .homepage-body-section5-left-text2 {
        font-size: 24px;
        line-height: 28.8px;
        white-space: nowrap;
    }
    .homepage-body-section5-right-container {
        width: 323px;
    }
    .homepage-body-section5-right-text {
        font-size: 24px;
        line-height: 28.8px;
    }
    .reviews-text1 {
        max-width: 323px;
    }
  }
  

